.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
/.quarto/
.httr-oauth
.DS_Store
data
data-raw
inst/scripts
inst/extdata
components_hm_files
R
man
*.aux
*.bcf
*.idx
*.log
*.pdf
*.tex
*.toc
*.bbl
*.blg
*.ilg
*.ind
*.run.xml
notes.qmd
*.html$
_book/
