.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
/.quarto/
_book/
.httr-oauth
.DS_Store
data
data-raw
inst/scripts
inst/extdata
components_hm_files
R
man
notes.qmd
*.tex$
*.pdf$
*.html$
*.aux
*.bcf
*.idx
*.log
*.toc
*.bbl
*.blg
*.ilg
*.ind
*.run.xml
